<h3>---------</h3>

<h3>Player</h3>
<div class="well" *ngFor="let active_mp3playback of active_mp3playbacks">{{active_mp3playback.name}}</div>

<div *ngIf="playerLoaded">
  <button (click)="switchPlayerStatus()" type="button" class="btn btn-{{ player.status == 'on' ? 'warning' : 'default' }} btn-lg btn-block">Start</button>
  <button (click)="switchPlayerStatus()" type="button" class="btn btn-{{ player.status == 'off' ? 'danger' : 'default' }} btn-lg btn-block">Stop</button>
</div>

<a routerLink="/mp3playbacks/new" class="btn btn-warning space-little">
    <span class="glyphicon glyphicon-plus"></span>
    Ajouter mp3
</a>
<br><br>

<!-- list current mp3 playback -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-1 text-center">Nom</th>
        <th class="col-xs-1 text-center">Jouer</th>
        <th class="col-xs-1 text-center">Editer</th>
        <th class="col-xs-1 text-center">Supprimer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mp3playback of mp3playbacks">
        <td class="col-xs-1 text-center">{{mp3playback.name}}</td>
        <td class="col-xs-1 text-center">
          <a (click)="playMP3Playback(mp3playback)" type="button" class="btn btn-warning btn-sm">
              <span class="glyphicon glyphicon-play"></span>
          </a>
        </td>
        <td class="col-xs-1 text-center">
          <a class="btn btn-default btn-sm" [routerLink]="['/mp3playbacks', mp3playback.id]">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
        </td>
        <td class="col-xs-1 text-center">
          <a (click)="confirmDeleteMP3Playback(mp3playback)" type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-trash"></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-confirm-delete-modal
[message]="message"
[modalConfirmDeleteIsVisible]="modalConfirmDeleteMP3PlaybackIsVisible"
(onConfirm)="onConfirm($event)" >
</app-confirm-delete-modal>
