/*div {
  background-image: url("https://www.xmple.com/wallpaper/hexagon-grey-orange-honeycomb-beehive-1920x1080-c2-696969-ff7f50-l2-25-314-a-30-f-5.svg");
}

.catsandstars {
  background-image:  url("https://mdn.mozillademos.org/files/11991/startransparent.gif"), 
                     url("https://mdn.mozillademos.org/files/7693/catfront.png");
  background-color: transparent;
}*/