<h3>------------</h3>

<h3>Etat du tapis</h3>
<div class="well"><strong>{{ RugState }}</strong></div>
    
<!--           <td class="col-md-1 text-center">
            <a (click)="switchActiveAlarmClock(alarmclock)" type="button" class="btn btn-{{ alarmclock.is_active ? 'warning' : 'default' }} btn-sm">
              <span class="glyphicon {{ alarmclock.is_active ? 'glyphicon-check' : 'glyphicon-unchecked' }}"></span>
            </a>
          </td> -->

<h3>Activation</h3>
<!-- list current mp3 playback -->
<div class="table-responsive">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <tr>
        <td class="col-xs-1" width="70%">Activer la lumiere</td>
        <td class="col-md-1" width="30%" align="center">
          <a (click)="switchActiveLight(currentAlertRug)" type="button" class="btn btn-{{ currentAlertRug.is_light_active ? 'warning' : 'default' }} btn-sm">
            <span class="glyphicon {{ currentAlertRug.is_light_active ? 'glyphicon-ok' : 'glyphicon-minus' }}"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-xs-1" width="70%">Activer l'audio</td>
        <td class="col-md-1" width="30%" align="center" >
          <a (click)="switchActiveAudio(currentAlertRug)" type="button" class="btn btn-{{ currentAlertRug.is_audio_active ? 'warning' : 'default' }} btn-sm">
            <span class="glyphicon {{ currentAlertRug.is_audio_active ? 'glyphicon-ok' : 'glyphicon-minus' }}"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-xs-1" width="70%">Capturer photo</td>
        <td class="col-md-1" width="30%" align="center">
          <a (click)="switchActiveCamera(currentAlertRug)" type="button" class="btn btn-{{ currentAlertRug.is_camera_active ? 'warning' : 'default' }} btn-sm">
            <span class="glyphicon {{ currentAlertRug.is_camera_active ? 'glyphicon-ok' : 'glyphicon-minus' }}"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-xs-1" width="70%">Notifier par message (FCM)</td>
        <td class="col-md-1" width="30%" align="center">
          <a (click)="switchActiveMessageAlert(currentAlertRug)" type="button" class="btn btn-{{ currentAlertRug.is_message_active ? 'warning' : 'default' }} btn-sm">
            <span class="glyphicon {{ currentAlertRug.is_message_active ? 'glyphicon-ok' : 'glyphicon-minus' }}"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-xs-1" width="70%">Configurer Timer (sec)</td>
        <td class="col-md-1" width="30%" align="center">
          <a routerLink="/alertrug/update" class="btn btn-default ">
            {{ currentAlertRug.stop_seconds_hit_rug }}
          </a>
        </td>
      </tr>
      <tr>
        <td class="col-xs-1" width="70%">Sélectionner mp3</td>
        <td class="col-md-1" width="30%"   align="center" >
          <a routerLink="/alertrug/update" class="btn btn-default" *ngFor="let active_mp3playback of active_mp3playbacks">
            {{active_mp3playback.name}}
          </a>
      
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div>

  <button (click)="stop1()" type="button" class="btn btn-warning btn-lg btn-block">statistics</button>
  <!-- <button (click)="start1()">Start</button>
  <button (click)="stop1()">Stop</button>  -->
</div>

